
@icon-star-empty: '\e605';

  .page-layout-1column {
    .product-info-main {
      width: 100%;
    }
  }
  .product-info-main {

    .page-title-wrapper {
      float: left;
    }

    .box-tocart {
      float: right;
      width: 40%;
      margin: 0;
      padding-bottom: 10px;
      .qty {
        display: none;
      }
      .action.tocart {
        width: 100%;
      }
    }

    .product-add-form {
      padding: 0;
    }

    .product-info-price {
      .price-box {
        padding-top: 6px;
        .price-container {
          .price {
            font-size: 22px;
          }
        }
      }
    }
  }
